.creative {
  max-width: 1920px;
  margin: 0 auto;
  padding-top: 10px;
  padding-bottom: 28px;
  position: relative;
  overflow: hidden;
  background-image: url(/images/creative-bg.png);
  background-size: 150% 45%;
  background-repeat: no-repeat;
  background-position: bottom;

  @media screen and (min-width: 480px) {
    background-size: 100% 50%;
  }

  @media screen and (min-width: 768px) {
    display: flex;
    padding-top: 80px;
    padding-bottom: 66px;
    background-size: 200% 103%;
  }

  @media screen and(min-width: 1920px) {
    padding-bottom: 237px;
    background-image: none;
    padding-top: 53px;
  }
}

.creative__title {
  display: flex;
  font-family: 'Pangolin';
  @include font(36px, 400, 1.24);
  transform: rotate(-2.35deg);
  justify-content: center;

  &--color:nth-child(1) {
    color: #c62e2a;
  }
  &--color:nth-child(2) {
    color: #64a7de;
  }
  &--color:nth-child(3) {
    color: #333b8b;
  }
  &--color:nth-child(4) {
    color: #5a308c;
  }
  &--color:nth-child(5) {
    color: #272425;
  }
  &--color:nth-child(6) {
    color: #cb2229;
  }
  &--color:nth-child(7) {
    color: #fff12d;
  }
  &--color:nth-child(8) {
    color: #309f85;
  }

  @media screen and (min-width: 480px) {
    font-size: 42px;
    justify-content: start;
    margin-left: 100px;
  }

  @media screen and (min-width: 768px) {
    font-size: 48px;
  }

  @media screen and (min-width: 1000px) {
    font-size: 70px;
    margin-left: calc(100% / 5);
  }
}

.creative__after-title {
  @include font(24px, 700, 1.21);
  margin-top: 16px;
  text-align: center;

  @media screen and (min-width: 480px) {
    margin-top: 22px;
    text-align: start;
  }

  @media screen and (min-width: 768px) {
    font-size: 27px;
    width: 500px;
  }

  @media screen and (min-width: 1000px) {
    font-size: 48px;
    width: 600px;
    margin-top: 45px;
  }

  @media screen and (min-width: 1920px) {
    width: 958px;
    margin-top: 25px;
  }
}

.creative__text {
  @include font(15px, 400, 1.28);
  letter-spacing: 0.065em;
  margin-top: 30px;
  text-align: center;
  width: 236px;
  margin-left: auto;
  margin-right: auto;

  @media screen and (min-width: 480px) {
    text-align: start;
    margin-top: 23px;
    width: 370px;
    margin-left: 0;
  }

  @media screen and (min-width: 768px) {
    width: 500px;
    font-size: 18px;
  }

  @media screen and (min-width: 1000px) {
    width: 600px;
  }
}

.creative__list {
  margin-top: 40px;

  @media screen and (min-width: 480px) {
    margin-top: 33px;
  }

  @media screen and (min-width: 768px) {
    display: flex;
  }
}

.creative__photo {
  width: 372px;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 33px;

  @media screen and (min-width: 768px) {
    width: 390px;
    left: 100%;
    top: 70px;
    position: absolute;
    transform: translateX(-70%);
    margin-top: 0;
  }

  @media screen and (min-width: 1000px) {
    width: 600px;
    top: 35px;
  }

  @media screen and (min-width: 1920px) {
    width: 696px;
    left: 80%;
    top: 70px;
  }
}
