.ideas {
  max-width: 1920px;
  margin: 0 auto;
  background-image: url(../images/ideas-bg.png);
  background-position: 40% 23%;
  background-size: 200% 44%;
  background-repeat: no-repeat;
  overflow: hidden;
  position: relative;

  @media screen and (min-width: 480px) {
    background-position: 50% 20%;
    background-size: 170% 66%;
  }

  @media screen and (min-width: 768px) {
    background-position: 20% 27%;
    background-size: 400% 100%;
  }

  @media screen and (min-width: 1000px) {
    background-position: 24% 28%;
    background-size: 200% 100%;
  }

  @media screen and (min-width: 1920px) {
    background-position: 50% 25%;
    background-size: 117% 100%;
    padding-bottom: 102px;
  }
}

.ideas__title {
  margin-top: 16px;
  @include font(24px, 700, 1.3);
  letter-spacing: 0.04em;
  text-align: center;
  width: 100%;
  margin-left: auto;
  margin-right: auto;

  @media screen and (min-width: 480px) {
    margin-top: 44px;
    text-align: start;
    font-size: 28px;
  }

  @media screen and (min-width: 768px) {
    margin-top: 118px;
    width: 450px;
    margin-left: 0;
  }

  @media screen and (min-width: 1000px) {
    font-size: 36px;
    width: 560px;
  }

  @media screen and (min-width: 1920px) {
    margin-top: 155px;
  }
}

.ideas__after-title {
  @include font(15px, 400, 1.3);
  letter-spacing: 0.065em;
  margin-top: 20px;
  text-align: center;
  color: var(--secondary-text-color);

  @media screen and (min-width: 480px) {
    margin-top: 16px;
    text-align: start;
    font-size: 16px;
  }

  @media screen and (min-width: 768px) {
    width: 450px;
  }

  @media screen and (min-width: 1000px) {
    font-size: 18px;
    width: 560px;
  }
}

.ideas__picture {
  position: relative;
  text-align: center;
}

.icon-lamp {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 242px;
  height: 237px;

  @media screen and(min-width: 768px) {
    width: 342px;
    height: 337px;
    position: absolute;
    right: -70px;
    top: -120px;
  }

  @media screen and(min-width: 1920px) {
    width: 431px;
    height: 421px;
    right: 300px;
    top: -140px;
  }
}

.rocket--right {
  position: absolute;
  width: 36px;
  height: 57px;
  bottom: -10px;
  right: -15px;

  @media screen and (min-width: 480px) {
    right: 45px;
    bottom: 9px;
  }

  @media screen and (min-width: 768px) {
    width: 43px;
    height: 68px;
    right: 325px;
    bottom: -235px;
  }

  @media screen and (min-width: 1000px) {
    width: 57px;
    height: 91px;
    right: 315px;
    bottom: -170px;
  }

  @media screen and (min-width: 1920px) {
    width: 89px;
    height: 143px;
    right: 50%;
    bottom: -250px;
  }
}

.rocket--left {
  position: absolute;
  bottom: -55px;
  left: -20px;
  width: 50px;
  height: 71px;

  @media screen and (min-width: 480px) {
    left: 20px;
    bottom: -34px;
  }

  @media screen and (min-width: 768px) {
    left: 0;
    bottom: -530px;
  }

  @media screen and (min-width: 1000px) {
    width: 82px;
    height: 113px;
    left: auto;
    right: 38px;
    bottom: -460px;
  }

  @media screen and (min-width: 1920px) {
    width: 126px;
    height: 178px;
    bottom: -60px;
  }
}

.ideas:hover .rocket--right {
  transform: translateY(-400px) translateX(-200px);
  transition: transform 60000ms linear;
}

.ideas:hover .rocket--left {
  transform: translateY(-400px) translateX(200px);
  transition: transform 100000ms linear;
}

.doudle {
  display: block;
  position: absolute;
  width: 103px;
  height: 49px;
  left: 50%;
  transform: translateX(-50%);
  bottom: -125%;

  @media screen and (min-width: 480px) {
    bottom: -107%;
  }

  @media screen and (min-width: 768px) {
    width: 42px;
    height: 20px;
    left: 55%;
    top: 255px;
    transform: translate(-50%, -50%);
    margin-top: 0;
  }

  @media screen and (min-width: 1000px) {
    width: 57px;
    height: 27px;
    left: 66%;
    top: 200px;
  }

  @media screen and (min-width: 1920px) {
    width: 87px;
    height: 41px;
    left: 50%;
    top: 285px;
  }
}
