.btn {
  display: inline-block;
  width: 100%;
  border-radius: 60px;
  padding: 21px 70px;
  text-align: center;
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 13px;
  line-height: 1.4;

  @media screen and (min-width: 480px) {
    width: 280px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  @media screen and (min-width: 768px) {
    width: 230px;
    padding: 21px 40px;
  }

  @media screen and (min-width: 1000px) {
    width: 280px;
    padding: 21px 55px;
  }
}

.btn--dark {
  background-color: var(--main-text-color);
  color: var(--white-text-color);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    box-shadow: 0px 6px 25px rgba(121, 129, 173, 0.45);
  }
}

.btn--light {
  background-color: #eef1f6;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin-top: 20px;

  &:hover,
  &:focus {
    box-shadow: 0px 6px 25px rgba(121, 129, 173, 0.45);
  }

  @media screen and (min-width: 768px) {
    margin-top: 0;
    margin-left: 27px;
  }
}
