.js-speaker-form {
  @media screen and(min-width: 768px) {
    margin-top: 140px;
    display: flex;
  }

  @media screen and (min-width: 1000px) {
    margin-top: 75px;
  }

  @media screen and (min-width: 1920px) {
    display: block;
    margin-top: 93px;
  }
}

.form__title {
  @include font(20px, 600, 1.21);
  margin-top: 91px;
  text-align: center;

  @media screen and (min-width: 480px) {
    margin-top: 65px;
    font-size: 24px;
    text-align: start;
    width: 395px;
  }

  @media screen and (min-width: 768px) {
    width: 123%;
    margin-top: 0;
  }

  @media screen and (min-width: 1000px) {
    width: 53%;
  }

  @media screen and (min-width: 1920px) {
    width: 518px;

    br {
      display: none;
    }
  }
}

.form__title--minutes {
  color: var(--secondary-accent-color);

  @media screen and (min-width: 1920px) {
    display: none;
  }
}

.form__title--hour {
  display: none;

  @media screen and (min-width: 1920px) {
    display: inline;
  }
}

.form__wrapper {
  margin-top: 40px;

  @media screen and (min-width: 480px) {
    margin-top: 65px;
  }

  @media screen and (min-width: 768px) {
    margin-top: 0px;
    margin-left: 88px;
  }

  @media screen and (min-width: 1920px) {
    margin-left: 0;
    @include centered();
    margin-top: 24px;
  }
}

.form__field {
  position: relative;
  margin-top: 34px;

  &:first-child {
    margin-left: 0;
  }

  @media screen and (min-width: 1920px) {
    margin-left: 74px;
    margin-top: 0;
  }
}

.form__label {
  position: absolute;
  top: 50%;
  left: 30px;
  transform: translateY(-50%);
  color: var(--secondary-text-color);
  transition: transform 250ms ease;
}

.form__field input[type='text'] {
  margin-top: 0;
}

.form__icon {
  position: absolute;
  top: 50%;
  left: 7px;
  transform: translateY(-50%);
}

.form__input:focus-within + .form__label,
.form__input:not(:placeholder-shown) + .form__label {
  transform: translateY(-30px) translateX(-20px);
}

.form__input {
  background: transparent;
  border: none;
  border-bottom: 1px solid #272525;
  width: 98%;
  outline: none;
  padding: 2px 2px 2px 30px;
  margin-top: 34px;
  color: var(--secondary-accent-color);

  &:invalid {
    color: rgb(255, 119, 119);
  }

  @media screen and (min-width: 480px) {
    width: 336px;
  }

  @media screen and (min-width: 1920px) {
    margin-top: 0;
  }
}

.form__input:focus-within:not(:placeholder-shown):valid + .form-label {
  color: var(--secondary-accent-color);
}

.form__input:focus-within:not(:placeholder-shown):invalid + .form-label {
  color: rgb(255, 119, 119);
}

.form__input:focus-within:not(:placeholder-shown):valid ~ .form-icon {
  fill: var(--secondary-accent-color);
}

.form__input:focus-within:not(:placeholder-shown):invalid ~ .form-icon {
  fill: rgb(255, 119, 119);
}

.form__btn {
  @include font(16px, 500, 1.4);
  margin-top: 40px;
  border: none;
  color: var(--white-text-color);
  background-color: var(--secondary-accent-color);
  font-family: inherit;
  padding-top: 19px;
  padding-bottom: 19px;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    box-shadow: 0px 6px 25px rgba(121, 129, 173, 0.45);
  }

  @media screen and (min-width: 480px) {
    margin-left: 0;
  }

  @media screen and (min-width: 768px) {
    min-width: 280px;
  }

  @media screen and (min-width: 1920px) {
    margin-top: 0;
    margin-left: 107px;
  }
}
