:root {
  --main-text-color: #272525;
  --secondary-text-color: #454747;
  --white-text-color: #ffffff;

  --main-bg-color: #ffffff;
  --accent-bg-color: linear-gradient(42.14deg, #9796f0 -17.31%, #fbc7d4 106.72%);

  --main-accent-color: #3c336c;
  --secondary-accent-color: #1fab8a;
}
